/*CONFIGURAÇÕES INICIAIS*/
/* font-family: 'Concert One', cursive;
    font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

html {
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background: #fff;
  
  }
  
  body::-webkit-scrollbar-thumb {
    background: #8181D7;
  
  }

.home-background{
    background-image: url(./assets/background_home_maior2.png);
    padding: 16px 130px;
    background-size: cover;
    height:700px;
}

header{
    z-index: 30;
    position: fixed;   
    width: 100%;
    padding-bottom: 0;
    text-align: center;
    background-color:#000117;
}

.linha-header{
    margin: 0;
    height: 4px;
    background-color: #8181D7;
}

.header-luminar{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10px 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-luminar{
    width: 20%;
}

nav{
    font-family: 'Roboto', sans-serif;
    margin: 0 10%;
    width: 60%;
    margin-top: 1.5%;
}


nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li{
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #FAF9FF;
}

nav a:hover{
    border-bottom: 4px solid #FFFA86;
    font-weight: bold;
}

.btn-login-cadastro{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    margin-right: 20px;
    margin-top: 12px;
    cursor: pointer;
}

.btn-login{
    margin-right: 10px;
    display: inline-block;
    border: solid 3px #AAD8D8;
    padding: 1px;
    width: 110px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #FAF9FF;
    text-align: center;
    cursor: pointer;
}
.btn-login:hover{
    border: solid 3px #FAF9FF
}

.btn-cadastro{
    display: inline-block;
    background-color: #FFFA86;
    border: solid 3px #FFFA86;
    padding: 1px;
    width: 110px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000235;
    text-align: center;
}

.btn-cadastro:hover{
    background-color: #000235;
    background-color: #FAF9FF;
    border: solid 3px #FAF9FF;
}

.conteudo{
    margin: 140px 0;
    width: 60%;
    color: #FAF9FF;
    display: flex;
    flex-direction: column;
}

.frase-impacto{
    font-family: 'Concert One', cursive;
    font-size: 60px;
    line-height: 50px;
    padding: 30px 0;
}

.frase-chamativo{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.btn-confira{
    border-radius: 50px;
    margin: 60px 0;
}

.btn-confira a:hover{
    background-color: #8191D0;
  }

.btn-confira a{
    display: inline-block;
    background-color: #8181D7;
    padding: 5px;
    width: 300px;
    border-radius: 50px;
    font-family: 'Concert One', cursive;
    text-decoration: none;
    color: #FAF9FF;
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
}

.btn-confira a span{
    margin-left: 40px;
    font-size: 38px;
}

/*daqui para baixo é o CSS de serviços*/
.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000e3e;
    padding-bottom: 90px;
}

.texto-intro-servico{
    color: #000235;
    background-color: #FAF9FF;
    width: 100%;
    text-align: center;
    padding: 2% 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.servicos_funcionalidades{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px 30px;

}

.titulo_servico p {
    justify-content: center;
    color: white;
    font-size: 20px;
    padding: 30px;
    margin-top: 3px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.titulo_servico b {
    color: #FFFA86;
}

/* pritmeiras imagens */

.funcionalidades {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.caixa{
    padding: 2px 2px;
    width: 100%;
    align-items: center;
    border-radius: 0 100px 100px 0;
    overflow: hidden;
    display: flex;
    margin: 1px 50px;
    font-family: 'Concert One', cursive;
    color: #000235;
    font-size: 18px;
}

.caixa img{
    z-index: 10;
    border-radius: 100px;
}

.fundo_azul {
    background-color: #AAD8D8;
    height: 60px;
    width: 100%;
    max-width: 450px;
    margin: auto 100px auto -50px;
    padding: 18px 20px;
    border-radius: 50px;
    text-align: center;
}


.funcionalidades p{
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 160px;
    margin-bottom: 20px;
}

.produtos{
    display: flex;
    flex-direction: column;
    border-left: 3px solid #fff;
    padding-left: 100px;
    justify-content: center;
}

/* .monitoramento {
    margin-top: 25px;
    color: white;
    text-align: center;
    font-size: 20px;
} */

.monitoramento{
    background-color: #FFFA86;
    border-radius: 20px;
    width: 300px;
    padding: 20px 30px;
    font-family: 'Concert One', cursive;
    color: #000235;
    position: absolute;
    bottom: -38em;
    left: 60em;
}

/* .monitoramento p {
    text-align: center;
    font-size: 20px;
} */

/* div .botao_simular{
    background-color: #8181D7;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 150px auto 0;
    color: #fff;
    max-width: 300px;
    font-size: 23px;
    border: 0;
} */

.btn-simule-agora{
    margin: 40px auto 0;
}

.btn-simule-agora p {
    color: #FAF9FF;
    font-family: 'Roboto', sans-serif;
    margin-left: 80px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
}

.btn-simule-agora a{
    display: inline-block;
    background-color: #8181D7;
    padding: 5px;
    width: 300px;
    border-radius: 50px;
    font-family: 'Concert One', cursive;
    text-decoration: none;
    color: #FAF9FF;
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
}

.btn-simule-agora a:hover{
    background-color: #8191D0;
  
  }

.btn-simule-agora a span{
    margin-left: 20px;
    font-size: 40px;
}


.img2 img{
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
}

/*Daqui para baixo é o CSS de sobrenos*/

.container_sobrenos{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8181D7;
    height: 600px;
    border-radius: 50px;
}

.sobrenos{
    margin: 50px 0; /* esta margem é para espaçar o elemento que será inserido logo acima */
}

.textos_sobrenos{
    color: white;
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}

.textos_sobrenos b{
    color: #FFFA86;
}

.sobrenos .caixas_sobrenos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #000235;
    width: 95%;
    height: 550px;
    left: 92px;
    top: 2092px;
    border-radius: 50px;
}

.caixa_sobrenos{
    font-size: 15px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa_sobrenos h3{
    margin: 15px 0;
    color: #FFFF;
    font-family: 'Concert One', cursive;
    text-transform: uppercase;
    font-size: 30px;
    
}

.caixa_sobrenos p{
    text-align: center;
    color: #FFFF;
}

.caixa_sobrenos img {
    width: 170px;
}

/*daqui para baixo é o css do footer */
.container_fale_conosco{
    width: 100%;
    height: 50vh;
    background: #000235;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_central{
   
    height: 100%;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5%;
   

}
.contatos{
    height: 100%;
    background-color: #aad8d8;
    width: 42%;
    border-radius: 25px;
    display: flex;
}

.contatos_inputs{
    background-color: #FAF9FF;
    height: 100%;
    width: 65%;
    border-radius: 25px;
}


.textos{
    width: 80%;
    margin: 10px;
    margin-left: 30px;
    height: 100%;
}
.note p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight:bold;
    color: #000235;
}

.textos p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight:bold;
    color: #000235;
}
.textos .titulo-contato{
    font-weight:500;
    font-size: 43px;
    font-family: 'Concert One', cursive;
    color: #000235;
}

.campo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
 
  .campo label{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight:bold;
    color: #000235;
    
  }
  .campo input{
   width: 90%;
   height: 25px;
  
   border-radius: 5px;
   text-align: center;
   border: #8181D7 solid 3px;
  
  }

  /* AQUI É SÓ PARA 3 INPUT */
  .campo3{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
  }
  .campo3 label{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight:bold;
    color: #000235;
    
  }
  .campo3 .input3{ 
   width: 90%;
   height:70px;
   border: #8181D7 solid 3px;
   text-align: center;
   border-radius: 3px;
   }

   button:hover{
    background-color: #8191D0;
  
  }
   .contatos_email{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    text-align: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.contatos_email p {
    font-family: 'Concert One';
    font-weight:700;
    font-size: 20px;
    
}
.span_contato{
    font-family: 'Concert One';
    color: #000235;
    margin-right: 40px;
}
.nota{
    height: 35%;
    display: flex;
    width: 70%;
    border-radius: 25px;
    /* margin-top: 0; */
    margin-left: 17%;
    margin-bottom: 10%;
  
}

.nota_estrela{
    width:54%;
    height: 99.5%;
    border-bottom: solid 2px   #8181D7;
    border-top: solid 2px   #8181D7;
    border-right: solid 2px   #8181D7;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}



.notas_site{
    font-family: 'Concert One';
    color: white;
}
.nota_estrela .imagens_footer{
   height:70px;
   display: flex;
   justify-content: space-evenly;
   font-family: 'Concert One';
   color: white;
   width: 90%;
}
.estrela2{
    margin-top: 3%;
}
.estrela1{
    margin-top: 5%;
}

.nota_texto{
    width:45%;
    height: 99.5%;
    background-color: #FAF9FF;
   border-radius: 25px 0px 0px 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   flex-wrap:wrap ;
   font-family: 'roboto'; 
   padding: 5%;
}
.nota_texto h3{
    margin: 20px;
}
.nota_texto p{
    font-weight:bold ;
    font-size:800;
    margin-bottom:10%;
    font-size: 15px;
    text-align: center;
}


.nota footer
{
  color: white;
  width:100%;
  height:10%;
  text-align: center;
  margin-top: 2%;
  font-family: 'roboto';
} 


footer{
    width: 100%;
    padding: 30px;
    height: 70px;
    text-align: center;
    color: #FAF9FF;
    background: #000235;
    background: linear-gradient(0deg, rgba(0,1,17,1) 10%, #000235 90%);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* css do botão */

.contatos button{
    background-color: #000235;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 15%;
    border-radius:25px 25px 25px 25px; 
    width: 20%;
    height: 30px;
    border: 0;
    cursor: pointer;
}

.button_contato{
    background-color: #000235;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 6%;
    margin-top: 16%;
    border-radius: 25px 25px 25px 25px;
    width: 20%;
    height: 30px;
    border: 0;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

