/*CONFIGURAÇÕES INICIAIS*/
/* font-family: 'Concert One', cursive;
    font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-background{
    background-image: url(/assets/background_home_maior2.png);
    background-size: cover;
    padding: 30px 200px;
    height:700px
}

header{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-luminar{
    margin-right: 20px;
}

nav{
    font-family: 'Roboto', sans-serif;
    margin: 0 8%;
    width: 60%;
    margin-top: 2.8%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li{
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #FAF9FF;
}

nav a:hover{
    border-bottom: 4px solid #FFFA86;
    font-weight: bold;
}

.btn-login-cadastro{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.btn-login{
    display: inline-block;
    border: solid 3px #AAD8D8;
    padding: 1px;
    width: 110px;
    font-size: 13px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #FAF9FF;
    text-align: center;
}

.btn-cadastro{
    margin-top: 8px;
    display: inline-block;
    background-color: #FFFA86;
    border: solid 3px #FFFA86;
    padding: 1px;
    width: 110px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000235;
    text-align: center;
}

.conteudo{
    margin: 80px 0;
    width: 60%;
    color: #FAF9FF;
    display: flex;
    flex-direction: column;
}

.frase-impacto{
    font-family: 'Concert One', cursive;
    font-size: 60px;
    line-height: 50px;
    padding: 30px 0;
}

.frase-chamativo{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.btn-confira{
    border-radius: 50px;
    margin: 60px 0;
}

.btn-confira a{
    display: inline-block;
    background-color: #8181D7;
    padding: 5px;
    width: 300px;
    border-radius: 50px;
    font-family: 'Concert One', cursive;
    text-decoration: none;
    color: #FAF9FF;
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
}

.btn-confira a span{
    margin-left: 40px;
    font-size: 38px;
}

