@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.form_box h2 {
    padding-top: 25px;
}

body {
    background-color: #000235;
}

header {
    z-index: 30;
    position: fixed;
    width: 100%;
    padding-bottom: 0;
    text-align: center;
    background-color: #000235;
}

.linha-header {
    margin: 0;
    height: 4px;
    background-color: #8181D7;
}

.header-luminar {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10px 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-luminar {
    width: 20%;
}

nav {
    font-family: 'Roboto', sans-serif;
    margin: 0 10%;
    width: 60%;
    margin-top: 1.5%;
}


nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #FAF9FF;
}

nav a:hover {
    border-bottom: 4px solid #FFFA86;
    font-weight: bold;
}

.container_login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login-cadastro {
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    margin-right: 20px;
    margin-top: 12px;
    cursor: pointer;
}

.btn-login {
    margin-right: 10px;
    display: inline-block;
    border: solid 3px #AAD8D8;
    padding: 1px;
    width: 110px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #FAF9FF;
    text-align: center;
    cursor: pointer;
}

.btn-login:hover {
    border: solid 3px #fffa86
}

.btn-cadastro {
    display: inline-block;
    background-color: #FFFA86;
    border: solid 3px #FFFA86;
    padding: 1px;
    width: 110px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000235;
    text-align: center;
}

.btn-cadastro:hover {
    background-color: #000235;
    color: #FFFA86;
}

.container-nome-e-sobrenome {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.container-nome-e-sobrenome .input_group {
    width: 100%;
}



.container_cadastro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box_cad {
    display: flex;
    max-height: 81%;
    background-color: white;
    padding: 0px 40px;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.img_box {
    background-color: white;
    width: 60%;
    display: flex;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

.img_box img {
    width: 350px;
}

.form_box {
    background-color: white;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.form_box h2 {
    font-size: 23px;
}

.form_box h4 {
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 14px;
}

.form_box b {
    color: #D9A557;
}

.form_box p {
    font-size: 10px;
}

.form_box p a {
    text-decoration: none;
    color: #0461CF;
}

.form_box form {
    margin: 20px 0;
}

.form_box .input_group label {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    padding-top: 5px;
    display: block;
}

.form_box .input_group input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;
    text-align: center;
    outline: none;
    width: 100%;
    justify-content: center;
}

.frase-experiencia {
    margin-top: 30px;
    color: #D9A557;
    font-weight: bold;
}

button {
    width: 100%;
    height: 47px;
    background: #0461CF;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 20px;
    color: white;
}


.moments {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}