@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000235;
}

header{
    z-index: 30;
    position: fixed;   
    width: 100%;
    padding-bottom: 0;
    text-align: center;
    background-color:#000235;
}

.linha-header{
    margin: 0;
    height: 4px;
    background-color: #8181D7;
}

.header-luminar{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10px 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-luminar{
    width: 20%;
}

nav{
    font-family: 'Roboto', sans-serif;
    margin: 0 10%;
    width: 60%;
    margin-top: 1.5%;
}


nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li{
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #FAF9FF;
}

nav a:hover{
    border-bottom: 4px solid #FFFA86;
    font-weight: bold;
}

.container_login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login-cadastro{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    margin-right: 20px;
    margin-top: 12px;
    cursor: pointer;
}

.btn-login{
    margin-right: 10px;
    display: inline-block;
    border: solid 3px #AAD8D8;
    padding: 1px;
    width: 110px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #FAF9FF;
    text-align: center;
    cursor: pointer;
}
.btn-login:hover{
    border: solid 3px #fffa86
}

.btn-cadastro{
    display: inline-block;
    background-color: #FFFA86;
    border: solid 3px #FFFA86;
    padding: 1px;
    width: 110px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000235;
    text-align: center;
}

.btn-cadastro:hover{
    background-color: #000235;
    color: #FFFA86;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.titulo {
    color: #32b9cd;
    font-size: 14px;
}

.navegacao {
    width: 350px;
    color: #efb661;
}

.navegacao a {
    color:#efb661;
    text-decoration: none;
}
.navegacao ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navegacao ul li {
    font-size: 1rem;
    cursor: pointer;
}

.agora {
    font-weight: bold;
}

.box_login {
    display: flex;
    max-height: 80%;
    background-color: white;
    padding: 0px 40px;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}



.div_img {
    background-color: white;
    width: 60%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 0 20px 20px ;
}

.div_img img {
    width: 100%;
}

.div_forms {
    background-color: white;
    padding: 0px 40px;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 20px 20px 0;   
}

.div_forms h2 {
    font-size: 23px;
    padding-top: 25px;
}

.div_forms h4{
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 15px;
}

.div_forms b {
    color: #D9A557;
}
.div_forms h2{
    text-align: center;
}

.div_forms h2 b a{
    text-decoration: none;
    color: #d9a557;
}

.div_email_senha {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.div_forms .div_email_senha label {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom:0px;
    padding-top: 5px;
    display: block;
}

.div_forms .div_email_senha input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;
    text-align: center;
    outline: none;
    width: 100%;
    justify-content: center;
}

.button_login {
    width: 100%;
    height: 47px;
    background: #0461CF;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 13px;
    color: white;
}

.amarelo {
    color: #D9A557;
}

.div_rodape {
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 10px;
}

.div_rodape a {
    text-decoration: none;
    color: #0461CF;
}