/* Resetando CSS, Definindo Estilizações Padrão e Importando Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* resetando css do navegador */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #000E3E;
  font-family: "Roboto", sans-serif;
}

.divider {
  border: 2px solid #0461cf;
  width: 80%;
  margin: 0 auto;
}

header{
  z-index: 30;
  position: fixed;   
  top: 0;
  width: 100%;
  padding-bottom: 0;
  text-align: center;
  background-color:#000117;
}

.linha-header{
  margin: 0;
  height: 4px;
  background-color: #8181D7;
}

.header-luminar{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-luminar{
  width: 20%;
}

nav{
  font-family: 'Roboto', sans-serif;
  margin: 0 10%;
  width: 60%;
  margin-top: 1.5%;
}


nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li{
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color: #FAF9FF;
}

nav a:hover{
  border-bottom: 4px solid #FFFA86;
  font-weight: bold;
}

.btn-login-cadastro{
  display: flex;
  flex-direction: row;
  width: 20%;
  align-items: center;
  margin-right: 20px;
  margin-top: 12px;
  cursor: pointer;
}

.btn-login{
  margin-right: 10px;
  display: inline-block;
  border: solid 3px #AAD8D8;
  padding: 1px;
  width: 110px;
  font-size: 15px;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #FAF9FF;
  text-align: center;
  cursor: pointer;
}
.btn-login:hover{
  border: solid 3px #fffa86
}

.btn-cadastro{
  display: inline-block;
  background-color: #FFFA86;
  border: solid 3px #FFFA86;
  padding: 1px;
  width: 110px;
  font-size: 15px;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #000235;
  text-align: center;
}

.btn-cadastro:hover{
  background-color: #000235;
  color: #FFFA86;
}


/* Iniciando estilização principal Desktop */

/* Estilização do Container Principal (fundo branco) */
.container-main {
  width: 80%;
  height: 650px;
  margin: 110px auto 0;
  padding: 37px 44px 61px 58px;
  border-radius: 5px;
  background: #ffffff;
}


/* Função "@media" (função do css para responsividade) onde o site irá se adaptar a telas que tenham até 768px de largura */
@media only screen and (max-width: 768px) {
  .container-main {
    width: 80%;
    height: 100%;
    padding: 20px;
    border-radius: 0;
  }
}

/* Estilização do Cabeçalho do Container Principal (Texto: Simule agora..,Faça uma simulação... )*/
.container-main .container-main-header h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #0461cf;
  margin-bottom: 10px;
}

.container-main .container-main-header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 46px;
}

.container-main .container-main-header p span {
  color: #d9a557;
}

.container-main .container-main-header p bold {
  font-weight: 600;
}



/* Estilização do Conteúdo Principal*/
.container-main-content {
  display: flex;
  flex-direction: row;
  margin-top: 62px;
  justify-content: space-around;
  gap: 20px;
}
/* gap (espaço entre os itens) */ 
@media only screen and (max-width: 768px) {
  .container-main-content {
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-top: 30px;
  }
}

/* Estilização do Conteúdo Principal - Esquerda */

.container-main-content .left {
  display: flex;
  flex-direction: column;
}

.container-main-content .left a{
    background-color: #8181D7;
    width: 150px;
    border-radius: 50px;
    font-family: 'Concert One', cursive;
    text-decoration: none;
    color: #FAF9FF;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.container-main-content .left a:hover{
    background-color: #0461cf;
}
.container-main-content .left h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #0461cf;
  margin-bottom: 29px;
  text-align: center;
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
  .container-main-content .left h3 {
    margin-bottom: 10px;
  }
}

.container-main-content .left label {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
  margin-top: 29px;
}

.container-main-content .left label span {
  color: #d9a557;
}

.container-main-content .left input {
  width: 100%;
  max-width: 262px;
  background: rgba(217, 217, 217, 0.27);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 11px;
  padding: 12px;
}
@media only screen and (max-width: 768px) {
  .container-main-content .left input {
    max-width: 90%;
  }
}

.container-main-content .left button{
  width: 100%;
  height: 34px;
  background: #0461cf;
  border-radius: 10px;
  margin-top: 29px;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 0;
}

.container-main-content .left button:hover{
  opacity: 0.8;
}


/* Estilização do Conteúdo Principal - Centro */

.container-main-content .center {
   width: 100%; 
  max-width: 300px;
  height: 307px;
  background: rgba(217, 217, 217, 0.27);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0 20px 20px;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .container-main-content .center {
    max-width: 85%;
  }
}

.container-main-content .center h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #0461cf;
  text-align: center;
  margin: 20px 0 4px;
}

.container-main-content .center h3 span {
  color: #d9a557;
  text-decoration: none;
}

.container-main-content .center span {
  text-decoration: underline;
}

.container-main-content .center span.absenteeism-result {
  font-weight: 600;
}

.container-main-content .center h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #000e3e;
  margin-top: 34px;
}

.container-main-content .center a {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #000;
  margin-top: 22px;
  align-self: flex-end;
  text-decoration-color: #0461cf;
}

.container-main-content .center a span {
  color: #0461cf;
}

/* Estilização do Conteúdo Principal - Direita */

.container-main-content .right {
  display: flex;
  align-items: center;
  border-left: 1px solid #000;
  padding-left: 48px;
  max-width: 264px;

  font-size: 23px;
  line-height: 30px;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .container-main-content .right {
    padding-left: 20px;
  }
}

.container-main-content .right span {
  color: #d9a557;
}

.container-main-content .right span.bolder {
  font-weight: 600;
}
